@import colors

.login-page
    background: $blue
    height: 100vh
    text-align: center
    
.login-form
    background: $white
    border-radius: 8px
    min-width: 480px
    margin-top: 100px
    text-align: left
    width: 30%
    box-shadow: 0 4px 6px #444444
    padding: 25px
    display: inline-block
    
    h1.title
        color: $darker-gray
        font-weight: 300
        border-bottom: 1px solid $lightest-gray
        margin: 0
    
    .form-control
        width: 100%