@import colors

.login-page
    background: $blue
    
.login-form
    background: $white
    border-radius: 8px
    margin: 100px auto auto auto
    min-width: 480px
    width: 30%
    box-shadow: 0 4px 6px #444444
    padding: 25px
    
    h1.title
        color: $darker-gray
        font-weight: 300
        border-bottom: 1px solid $lightest-gray
        margin: 0
    
    .form-control
        width: 100%