@import '~purecss-sass/vendor/assets/stylesheets/purecss/base';
@import '~purecss-sass/vendor/assets/stylesheets/purecss/grids';
@import '~purecss-sass/vendor/assets/stylesheets/purecss/forms';
@import '~purecss-sass/vendor/assets/stylesheets/purecss/buttons';

$header-height: 60px;

.header {
    height: $header-height;
    border-bottom: 1px solid #eee;
    
    h1 {
        margin: 0 0 0 20px;
        padding: 0;
        font-size: 1.8rem;
        line-height: $header-height;
    }
    
    .home-logo {
        line-height: $header-height;
        margin: 0;
        padding: 0 20px 0 20px;
        border-right: 1px solid #eee;
        float: left;
        font-size: 1.8rem;
    }
    
    .home-logo:hover {
        background-color: #f0f0f0;
    }
    
    .search {
        .search-icon {
            margin-left: 20px;
        } 
        
        input {
            height: $header-height;
            border: none;
            margin: 0;
            padding: 0 0 0 10px;
            line-height: $header-height;
        } 
        
        input:focus {
            outline: none;
        }
    }
    
    .user {
        text-align: right;
        line-height: $header-height;
    }
}